<a href="https://colab.research.google.com/github/Beselblu/Beselblu/blob/main/Pet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as pyplot
import seaborn as sns

from datetime import timedelta

import psycopg2

sns.set_style('whitegrid')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
%%time
feed_data = pd.read_sql('SELECT * FROM public.feed_data ORDER BY timestamp LIMIT 7000',
                   con='postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')
post_text_df = pd.read_sql('SELECT * FROM public.post_text_df',
                   con='postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')
user_data = pd.read_sql('SELECT * FROM public.user_data',
                   con='postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')

CPU times: user 1.23 s, sys: 214 ms, total: 1.44 s
Wall time: 20.9 s

In [5]:
data = pd.merge(pd.merge(feed_data, user_data, on='user_id'), post_text_df, on='post_id')

In [6]:
data.shape

(7000, 14)

In [7]:
data = data.groupby(["user_id", "post_id"]).agg({
                                        'target': 'max', 
                                        'timestamp': 'max',
                                        'gender': 'max',
                                        'age': 'max',
                                        'country': 'max',
                                        'city': 'max',
                                        'exp_group': 'max',
                                        'os': 'max',
                                        'source': 'max',
                                        'text': 'max',
                                        'topic': 'max'}).reset_index().sort_values('timestamp')

In [8]:
numeric_cols = data.loc[:, data.dtypes!=np.object].columns
categorical_cols = data.loc[:, data.dtypes==np.object].columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [9]:
for col in categorical_cols:
    if col != 'text':
        if data[col].nunique() < 5:
            one_hot = pd.get_dummies(data[col], prefix=col, drop_first=True)
            data = pd.concat((data.drop(col, axis=1), one_hot), axis=1)
        
        else:
            mean_target = data.groupby(col)['target'].mean()
            data[col] = data[col].map(mean_target)

In [10]:
data.head()

,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,text,topic,os_iOS,source_organic
6018,163409,3558,0,2021-10-01 06:01:40,1,23,0.132253,0.068966,2,@tmigge People in #Germany overestimate #COVID...,0.142132,0,1
5503,149801,1875,0,2021-10-01 06:01:40,0,21,0.132253,0.000000,3,Robben and Cole earn Chelsea win\n\nCheslea sa...,0.138889,0,1
1623,43965,5747,0,2021-10-01 06:01:40,1,28,0.132253,0.029412,4,As the film begins a narrator warns us THE SCR...,0.140233,1,0
3680,101094,952,0,2021-10-01 06:01:40,0,37,0.132253,0.000000,0,UK troops on Ivory Coast standby\n\nDowning St...,0.141869,0,0
3948,108994,5258,0,2021-10-01 06:01:40,1,17,0.132253,0.033333,4,Frankly Im rather incensed that on the basis o...,0.140233,0,1

In [11]:
type(data.text[0])

str

In [12]:
import re 

import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [13]:
!pip install texthero

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting texthero
  Downloading texthero-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from texthero) (4.64.0)
Collecting spacy<3.0.0
  Downloading spacy-2.3.7-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 7.8 MB/s
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.0.2)
Requirement already satisfied: plotly>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (5.5.0)
Requirement already satisfied: matplotlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.2.2)
Requirement already satisfied: wordcloud>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.5.0)
Collecting unidecode>=1.1.1
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 53.8 MB/s
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.21.6)
Requirement already satisfied: gensim<4.0,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.6.0)
Requirement already satisfied: pandas>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from texthero) (1.3.5)
Requirement already satisfied: nltk>=3.3 in /usr/local/lib/python3.7/dist-packages (from texthero) (3.7)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (5.2.1)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0,>=3.6.0->texthero) (1.15.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (1.4.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.0->texthero) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.0->texthero) (4.1.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.3->texthero) (2022.6.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.2->texthero) (2022.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.2.0->texthero) (8.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->texthero) (3.1.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.7.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (3.0.6)
Collecting srsly<1.1.0,>=1.0.2
  Downloading srsly-1.0.5-cp37-cp37m-manylinux2014_x86_64.whl (184 kB)
     |████████████████████████████████| 184 kB 23.6 MB/s
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.23.0)
Collecting catalogue<1.1.0,>=0.0.7
  Downloading catalogue-1.0.0-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (57.4.0)
Collecting thinc<7.5.0,>=7.4.1
  Downloading thinc-7.4.5-cp37-cp37m-manylinux2014_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 52.3 MB/s
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (2.0.6)
Collecting plac<1.2.0,>=0.9.6
  Downloading plac-1.1.3-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (1.0.7)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.0.0->texthero) (0.9.1)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<3.0.0->texthero) (3.8.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.0.0->texthero) (2022.6.15)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud>=1.5.0->texthero) (7.1.2)
Installing collected packages: srsly, plac, catalogue, thinc, unidecode, spacy, texthero
  Attempting uninstall: srsly
    Found existing installation: srsly 2.4.3
    Uninstalling srsly-2.4.3:
      Successfully uninstalled srsly-2.4.3
  Attempting uninstall: catalogue
    Found existing installation: catalogue 2.0.7
    Uninstalling catalogue-2.0.7:
      Successfully uninstalled catalogue-2.0.7
  Attempting uninstall: thinc
    Found existing installation: thinc 8.0.17
    Uninstalling thinc-8.0.17:
      Successfully uninstalled thinc-8.0.17
  Attempting uninstall: spacy
    Found existing installation: spacy 3.3.1
    Uninstalling spacy-3.3.1:
      Successfully uninstalled spacy-3.3.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
en-core-web-sm 3.3.0 requires spacy<3.4.0,>=3.3.0.dev0, but you have spacy 2.3.7 which is incompatible.
Successfully installed catalogue-1.0.0 plac-1.1.3 spacy-2.3.7 srsly-1.0.5 texthero-1.1.0 thinc-7.4.5 unidecode-1.3.4

In [14]:
!pip install -U spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.3.7)
Collecting spacy
  Downloading spacy-3.3.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.2 MB)
     |████████████████████████████████| 6.2 MB 7.9 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.1.1)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.8.2)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.7.7)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.9)
Collecting thinc<8.1.0,>=8.0.14
  Downloading thinc-8.0.17-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (660 kB)
     |████████████████████████████████| 660 kB 52.9 MB/s
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.9.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.7)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.2)
Collecting srsly<3.0.0,>=2.4.3
  Downloading srsly-2.4.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (457 kB)
     |████████████████████████████████| 457 kB 42.6 MB/s
Collecting catalogue<2.1.0,>=2.0.6
  Downloading catalogue-2.0.7-py3-none-any.whl (17 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.6.15)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
Installing collected packages: catalogue, srsly, thinc, spacy
  Attempting uninstall: catalogue
    Found existing installation: catalogue 1.0.0
    Uninstalling catalogue-1.0.0:
      Successfully uninstalled catalogue-1.0.0
  Attempting uninstall: srsly
    Found existing installation: srsly 1.0.5
    Uninstalling srsly-1.0.5:
      Successfully uninstalled srsly-1.0.5
  Attempting uninstall: thinc
    Found existing installation: thinc 7.4.5
    Uninstalling thinc-7.4.5:
      Successfully uninstalled thinc-7.4.5
  Attempting uninstall: spacy
    Found existing installation: spacy 2.3.7
    Uninstalling spacy-2.3.7:
      Successfully uninstalled spacy-2.3.7
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
texthero 1.1.0 requires spacy<3.0.0, but you have spacy 3.3.1 which is incompatible.
Successfully installed catalogue-2.0.7 spacy-3.3.1 srsly-2.4.3 thinc-8.0.17

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
import texthero
tfidf = TfidfVectorizer(stop_words='english')
lemmatizer = WordNetLemmatizer()

In [16]:
def preprocess(data: pd.DataFrame) -> pd.DataFrame:
    data.text = data.text.apply(lambda x: re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', x))
    data.text = data.text.apply(lambda x: re.sub('@[^\s]+', 'USER', x))
    data.text = data.text.apply(lambda x: re.sub('[^a-zA-Zа-яА-Я1-9]+', ' ', x))
    data.text = data.text.apply(lambda x: re.sub(r'[^\w\s]+|[\d]+', ' ', x))
    data.text = data.text.apply(lambda x: nltk.word_tokenize(x))
    data.text = data.text.apply(lambda x: " ".join([lemmatizer.lemmatize(word) for word in x]))
    return data

In [17]:
data = preprocess(data)

In [18]:
data

,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,text,topic,os_iOS,source_organic
6018,163409,3558,0,2021-10-01 06:01:40,1,23,0.132253,0.068966,2,USER People in Germany overestimate COVID deat...,0.142132,0,1
5503,149801,1875,0,2021-10-01 06:01:40,0,21,0.132253,0.000000,3,Robben and Cole earn Chelsea win Cheslea salva...,0.138889,0,1
1623,43965,5747,0,2021-10-01 06:01:40,1,28,0.132253,0.029412,4,As the film begin a narrator warns u THE SCREA...,0.140233,1,0
3680,101094,952,0,2021-10-01 06:01:40,0,37,0.132253,0.000000,0,UK troop on Ivory Coast standby Downing Street...,0.141869,0,0
3948,108994,5258,0,2021-10-01 06:01:40,1,17,0.132253,0.033333,4,Frankly Im rather incensed that on the basis o...,0.140233,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,66609,1272,0,2021-10-01 06:24:03,1,47,0.132253,0.055556,4,Profile David Blunkett Before he resigned the ...,0.141869,0,0
5764,156604,3959,0,2021-10-01 06:24:03,1,30,0.194245,0.166667,1,MOP Brandon Banks double down on CFL season ab...,0.142132,0,1
4355,118475,5982,0,2021-10-01 06:24:03,0,16,0.132253,0.111111,0,I went to see this with my wife and yr old son...,0.140233,1,1
1357,35892,1895,0,2021-10-01 06:24:03,1,30,0.194245,0.133333,0,Hingis hint at playing comeback Martina Hingis...,0.138889,1,0
2539,69305,3055,0,2021-10-01 06:24:03,0,26,0.132253,0.048387,4,covid basic common sense URL,0.142132,1,0

In [19]:
data['tfidf'] = texthero.tfidf(data.text)

In [20]:
data['tfidf'] = data['tfidf'].apply(lambda x: np.mean(x))

In [21]:
data = data.drop('text', axis=1)
data.tfidf = data.tfidf * 10000

In [22]:
data = data.reset_index()

In [23]:
data.head()

,index,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,topic,os_iOS,source_organic,tfidf
0,6018,163409,3558,0,2021-10-01 06:01:40,1,23,0.132253,0.068966,2,0.142132,0,1,0.938977
1,5503,149801,1875,0,2021-10-01 06:01:40,0,21,0.132253,0.000000,3,0.138889,0,1,3.470328
2,1623,43965,5747,0,2021-10-01 06:01:40,1,28,0.132253,0.029412,4,0.140233,1,0,3.093814
3,3680,101094,952,0,2021-10-01 06:01:40,0,37,0.132253,0.000000,0,0.141869,0,0,2.542034
4,3948,108994,5258,0,2021-10-01 06:01:40,1,17,0.132253,0.033333,4,0.140233,0,1,2.526502

In [24]:
data['id'] = range(len(data))

In [25]:
data = data.drop('index', axis=1)

In [26]:
data.head()

,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,topic,os_iOS,source_organic,tfidf,id
0,163409,3558,0,2021-10-01 06:01:40,1,23,0.132253,0.068966,2,0.142132,0,1,0.938977,0
1,149801,1875,0,2021-10-01 06:01:40,0,21,0.132253,0.000000,3,0.138889,0,1,3.470328,1
2,43965,5747,0,2021-10-01 06:01:40,1,28,0.132253,0.029412,4,0.140233,1,0,3.093814,2
3,101094,952,0,2021-10-01 06:01:40,0,37,0.132253,0.000000,0,0.141869,0,0,2.542034,3
4,108994,5258,0,2021-10-01 06:01:40,1,17,0.132253,0.033333,4,0.140233,0,1,2.526502,4

In [27]:
#from google.colab import files
#data.to_csv('data.csv', index=False)
#files.download('data.csv')

In [28]:
from sqlalchemy import create_engine, Column, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker


DATABASE_URL = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

engine = create_engine(DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

In [29]:
class PreparedData(Base):
    __tablename__ = 'PreparedData'
    __table_args__ = {
        'schema': 'public',
        'extend_existing': True
    }

    id = Column(Integer, primary_key=True)
    user_id = Column(Integer)
    post_id = Column(Integer)
    target = Column(Integer)
    timestamp = Column(DateTime)
    gender = Column(Integer)
    age = Column(Integer)
    country = Column(Integer)
    city = Column(Integer)
    exp_group = Column(Integer)
    topic = Column(Integer)
    os_iOS = Column(Integer)
    source_organic = Column(Integer)	
    tfidf = Column(Integer)

    def __repl__(self):
        return "<PreparedData(id='%s', user_id='%s', post_id='%s', target='%s', timestamp='%s', gender='%s', age='%s', country='%s', city='%s', exp_group='%s', topic='%s', os_iOS='%s', source_organic='%s', tfidf='%s')>" 
        % (self.id, self.user_id, self.post_id, self.target, self.gender, self.age, self.country, self.city, self.exp_group, self.topic, self.os_iOS, self.source_organic, self.tfidf)

In [30]:
Base.metadata.create_all(engine)

In [31]:
data.to_sql('PreparedData', engine, if_exists='append', index=False, method='multi')

In [33]:
df = pd.read_sql('SELECT * FROM "PreparedData"', con='postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')

In [ ]:
PreparedData.__table__.drop(engine)

In [ ]:
Base.metadata.drop_all(engine)

In [38]:
pd.read_sql('SELECT * FROM "PreparedData" WHERE user_id = 15471', con='postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml')

,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,topic,os_iOS,source_organic,tfidf,id
0,15471,2810,0,2021-10-01 06:01:40,1,21,0.132253,0.0,4,0.141952,1,0,0.918514,0
1,15471,4465,0,2021-10-01 06:02:01,1,21,0.132253,0.0,4,0.140045,1,0,3.644108,86
2,15471,693,0,2021-10-01 06:04:29,1,21,0.132253,0.0,4,0.118750,1,0,3.061052,241
3,15471,5282,0,2021-10-01 06:05:36,1,21,0.132253,0.0,4,0.140045,1,0,3.961293,357
4,15471,3783,0,2021-10-01 06:05:49,1,21,0.132253,0.0,4,0.141952,1,0,1.099663,398
5,15471,3000,0,2021-10-01 06:06:11,1,21,0.132253,0.0,4,0.141952,1,0,1.074984,414
6,15471,1608,0,2021-10-01 06:08:31,1,21,0.132253,0.0,4,0.139485,1,0,4.161820,723
7,15471,5377,0,2021-10-01 06:10:33,1,21,0.132253,0.0,4,0.140045,1,0,1.966783,1216
8,15471,1300,0,2021-10-01 06:11:33,1,21,0.132253,0.0,4,0.142114,1,0,2.977225,1551
9,15471,698,0,2021-10-01 06:11:44,1,21,0.132253,0.0,4,0.118750,1,0,2.686229,1670
10,15471,1041,0,2021-10-01 06:13:24,1,21,0.132253,0.0,4,0.142114,1,0,3.272406,2184
11,15471,4385,0,2021-10-01 06:14:22,1,21,0.132253,0.0,4,0.140045,1,0,3.730387,2583
12,15471,2406,0,2021-10-01 06:16:34,1,21,0.132253,0.0,4,0.141952,1,0,1.186219,3205
13,15471,7119,0,2021-10-01 06:17:39,1,21,0.132253,0.0,4,0.140045,1,0,2.447889,3646
14,15471,64,0,2021-10-01 06:19:46,1,21,0.132253,0.0,4,0.155496,1,0,2.867050,4443
15,15471,5839,0,2021-10-01 06:20:38,1,21,0.132253,0.0,4,0.140045,1,0,3.237109,4794
16,15471,935,0,2021-10-01 06:21:06,1,21,0.132253,0.0,4,0.118750,1,0,4.512623,5040
17,15471,4730,0,2021-10-01 06:24:03,1,21,0.132253,0.0,4,0.140045,1,0,2.578900,6209
18,15471,2810,0,2021-10-01 06:01:40,1,21,0.132253,0.0,4,0.142132,1,0,0.918808,8
19,15471,4465,0,2021-10-01 06:02:01,1,21,0.132253,0.0,4,0.140233,1,0,3.645297,76
20,15471,693,0,2021-10-01 06:04:29,1,21,0.132253,0.0,4,0.118750,1,0,3.062217,254
21,15471,5282,0,2021-10-01 06:05:36,1,21,0.132253,0.0,4,0.140233,1,0,3.962491,352
22,15471,3783,0,2021-10-01 06:05:49,1,21,0.132253,0.0,4,0.142132,1,0,1.099953,387
23,15471,3000,0,2021-10-01 06:06:11,1,21,0.132253,0.0,4,0.142132,1,0,1.075297,424
24,15471,1608,0,2021-10-01 06:08:31,1,21,0.132253,0.0,4,0.138889,1,0,4.163262,732
25,15471,5377,0,2021-10-01 06:10:33,1,21,0.132253,0.0,4,0.140233,1,0,1.967297,1210
26,15471,1300,0,2021-10-01 06:11:33,1,21,0.132253,0.0,4,0.141869,1,0,2.978219,1591
27,15471,698,0,2021-10-01 06:11:44,1,21,0.132253,0.0,4,0.118750,1,0,2.687033,1678
28,15471,1041,0,2021-10-01 06:13:24,1,21,0.132253,0.0,4,0.141869,1,0,3.273057,2192
29,15471,4385,0,2021-10-01 06:14:22,1,21,0.132253,0.0,4,0.140233,1,0,3.731534,2581
30,15471,2406,0,2021-10-01 06:16:34,1,21,0.132253,0.0,4,0.142132,1,0,1.186548,3201
31,15471,7119,0,2021-10-01 06:17:39,1,21,0.132253,0.0,4,0.140233,1,0,2.448636,3631
32,15471,64,0,2021-10-01 06:19:46,1,21,0.132253,0.0,4,0.155080,1,0,2.867811,4461
33,15471,5839,0,2021-10-01 06:20:38,1,21,0.132253,0.0,4,0.140233,1,0,3.237908,4794
34,15471,935,0,2021-10-01 06:21:06,1,21,0.132253,0.0,4,0.118750,1,0,4.514032,5044
35,15471,4730,0,2021-10-01 06:24:03,1,21,0.132253,0.0,4,0.140233,1,0,2.579648,6205

In [37]:
df

,user_id,post_id,target,timestamp,gender,age,country,city,exp_group,topic,os_iOS,source_organic,tfidf,id
0,15471,2810,0,2021-10-01 06:01:40,1,21,0.132253,0.000000,4,0.141952,1,0,0.918514,0
1,163409,3558,0,2021-10-01 06:01:40,1,23,0.132253,0.068966,2,0.141952,0,1,0.938699,1
2,87173,6030,0,2021-10-01 06:01:40,1,36,0.132253,0.045455,0,0.140045,0,0,2.924992,2
3,115794,6330,0,2021-10-01 06:01:40,1,28,0.132253,0.054795,4,0.140045,1,1,2.245151,3
4,101094,952,0,2021-10-01 06:01:40,0,37,0.132253,0.000000,0,0.142114,0,0,2.541419,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12419,66609,1272,0,2021-10-01 06:24:03,1,47,0.132253,0.055556,4,0.141869,0,0,4.111272,6207
12420,156604,3959,0,2021-10-01 06:24:03,1,30,0.194245,0.166667,1,0.142132,0,1,0.991435,6208
12421,118475,5982,0,2021-10-01 06:24:03,0,16,0.132253,0.111111,0,0.140233,1,1,2.577890,6209
12422,35892,1895,0,2021-10-01 06:24:03,1,30,0.194245,0.133333,0,0.138889,1,0,2.355699,6210
12423,69305,3055,0,2021-10-01 06:24:03,0,26,0.132253,0.048387,4,0.142132,1,0,0.607773,6211

In [39]:
!pip install colabcode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting colabcode
  Downloading colabcode-0.3.0-py3-none-any.whl (5.0 kB)
Collecting uvicorn==0.13.1
  Downloading uvicorn-0.13.1-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 2.1 MB/s
Collecting nest-asyncio==1.4.3
  Downloading nest_asyncio-1.4.3-py3-none-any.whl (5.3 kB)
Collecting jupyterlab==3.0.7
  Downloading jupyterlab-3.0.7-py3-none-any.whl (8.3 MB)
     |████████████████████████████████| 8.3 MB 8.2 MB/s
Collecting pyngrok>=5.0.0
  Downloading pyngrok-5.1.0.tar.gz (745 kB)
     |████████████████████████████████| 745 kB 9.3 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (21.3)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (2.11.3)
Collecting tornado>=6.1.0
  Downloading tornado-6.2-cp37-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (423 kB)
     |████████████████████████████████| 423 kB 14.2 MB/s
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (5.5.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (4.10.0)
Collecting jupyter-server~=1.2
  Downloading jupyter_server-1.18.1-py3-none-any.whl (344 kB)
     |████████████████████████████████| 344 kB 42.6 MB/s
Collecting nbclassic~=0.2
  Downloading nbclassic-0.4.2-py3-none-any.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 42.4 MB/s
Collecting jupyterlab-server~=2.0
  Downloading jupyterlab_server-2.15.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.5 MB/s
Requirement already satisfied: click==7.* in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.13.1->colabcode) (7.1.2)
Collecting h11>=0.8
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 2.7 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.13.1->colabcode) (4.1.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.10->jupyterlab==3.0.7->colabcode) (2.0.1)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.13.3)
Collecting websocket-client
  Downloading websocket_client-1.3.3-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.5 MB/s
Collecting jupyter-client>=6.1.12
  Downloading jupyter_client-7.3.4-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 17.7 MB/s
Collecting anyio<4,>=3.1.0
  Downloading anyio-3.6.1-py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 4.0 MB/s
Collecting nbconvert>=6.4.4
  Downloading nbconvert-6.5.0-py3-none-any.whl (561 kB)
     |████████████████████████████████| 561 kB 36.3 MB/s
Requirement already satisfied: nbformat>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (21.3.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.8.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (23.1.0)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.1.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.14.1)
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.1.0->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.10)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.8.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.4)
Collecting jupyter-client>=6.1.12
  Downloading jupyter_client-7.3.3-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 32.4 MB/s
  Downloading jupyter_client-7.3.2-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 36.7 MB/s
  Downloading jupyter_client-7.3.1-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 36.4 MB/s
  Downloading jupyter_client-7.3.0-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 10.2 MB/s
  Downloading jupyter_client-7.2.2-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 35.6 MB/s
  Downloading jupyter_client-7.2.1-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 4.1 MB/s
  Downloading jupyter_client-7.2.0-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 35.3 MB/s
  Downloading jupyter_client-7.1.2-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 29.9 MB/s
  Downloading jupyter_client-7.1.1-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 33.8 MB/s
  Downloading jupyter_client-7.1.0-py3-none-any.whl (129 kB)
     |████████████████████████████████| 129 kB 33.8 MB/s
  Downloading jupyter_client-7.0.6-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 36.9 MB/s
  Downloading jupyter_client-7.0.5-py3-none-any.whl (124 kB)
     |████████████████████████████████| 124 kB 10.6 MB/s
  Downloading jupyter_client-7.0.4-py3-none-any.whl (124 kB)
     |████████████████████████████████| 124 kB 27.6 MB/s
  Downloading jupyter_client-7.0.3-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 28.8 MB/s
  Downloading jupyter_client-7.0.2-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 36.1 MB/s
  Downloading jupyter_client-7.0.1-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 33.2 MB/s
  Downloading jupyter_client-7.0.0-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 33.9 MB/s
  Downloading jupyter_client-6.1.12-py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 37.4 MB/s
Collecting jinja2>=2.10
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 31.9 MB/s
Requirement already satisfied: importlib-metadata>=3.6 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (4.11.4)
Collecting json5
  Downloading json5-0.9.8.tar.gz (22 kB)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (4.3.3)
Requirement already satisfied: babel in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2.10.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2.23.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (3.8.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (5.7.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (21.4.0)
Collecting nbclassic~=0.2
  Downloading nbclassic-0.4.0-py3-none-any.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 31.3 MB/s
  Downloading nbclassic-0.3.7-py3-none-any.whl (13 kB)
Collecting notebook-shim>=0.1.0
  Downloading notebook_shim-0.1.0-py3-none-any.whl (13 kB)
Requirement already satisfied: notebook<7 in /usr/local/lib/python3.7/dist-packages (from nbclassic~=0.2->jupyterlab==3.0.7->colabcode) (5.3.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (4.6.3)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.6.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.2.2)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.6.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.0.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.8.4)
Collecting traitlets>=5.1
  Downloading traitlets-5.3.0-py3-none-any.whl (106 kB)
     |████████████████████████████████| 106 kB 63.0 MB/s
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.2.0->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.15.3)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from notebook<7->nbclassic~=0.2->jupyterlab==3.0.7->colabcode) (0.2.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from notebook<7->nbclassic~=0.2->jupyterlab==3.0.7->colabcode) (4.10.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok>=5.0.0->colabcode) (3.13)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.15.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.3->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.21)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.7/dist-packages (from babel->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2022.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=6.4.4->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.5.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (57.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (1.0.18)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyterlab==3.0.7->colabcode) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->jupyterlab==3.0.7->colabcode) (3.0.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (3.0.4)
Building wheels for collected packages: pyngrok, json5
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.1.0-py3-none-any.whl size=19007 sha256=421f0ed6d9291111cfa208c0e22e3ebc4a1953f8560a8b0136720f52e89bacca
  Stored in directory: /root/.cache/pip/wheels/bf/e6/af/ccf6598ecefecd44104069371795cb9b3afbcd16987f6ccfb3
  Building wheel for json5 (setup.py) ... done
  Created wheel for json5: filename=json5-0.9.8-py2.py3-none-any.whl size=18604 sha256=b060324ca9b1ea71e21ebcc33faf345ebc7e060f9077648b3d1a0cc16f38f029
  Stored in directory: /root/.cache/pip/wheels/ac/9b/de/6e4fd8f159d3dfa42c42ceddf2184fda29ea7fb1e8f5f8371c
Successfully built pyngrok json5
Installing collected packages: traitlets, tornado, nest-asyncio, jupyter-client, sniffio, jinja2, websocket-client, nbconvert, anyio, jupyter-server, notebook-shim, json5, nbclassic, jupyterlab-server, h11, uvicorn, pyngrok, jupyterlab, colabcode
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.1.1
    Uninstalling traitlets-5.1.1:
      Successfully uninstalled traitlets-5.1.1
  Attempting uninstall: tornado
    Found existing installation: tornado 5.1.1
    Uninstalling tornado-5.1.1:
      Successfully uninstalled tornado-5.1.1
  Attempting uninstall: nest-asyncio
    Found existing installation: nest-asyncio 1.5.5
    Uninstalling nest-asyncio-1.5.5:
      Successfully uninstalled nest-asyncio-1.5.5
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 5.3.5
    Uninstalling jupyter-client-5.3.5:
      Successfully uninstalled jupyter-client-5.3.5
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: nbconvert
    Found existing installation: nbconvert 5.6.1
    Uninstalling nbconvert-5.6.1:
      Successfully uninstalled nbconvert-5.6.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.2 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed anyio-3.6.1 colabcode-0.3.0 h11-0.13.0 jinja2-3.1.2 json5-0.9.8 jupyter-client-6.1.12 jupyter-server-1.18.1 jupyterlab-3.0.7 jupyterlab-server-2.15.0 nbclassic-0.3.7 nbconvert-6.5.0 nest-asyncio-1.4.3 notebook-shim-0.1.0 pyngrok-5.1.0 sniffio-1.2.0 tornado-6.2 traitlets-5.3.0 uvicorn-0.13.1 websocket-client-1.3.3